VITE_APP_URL="https://1xmm.theapp4u.com"
VITE_API_URL="http://127.0.0.1:8000"
VITE_BOT_URL="https://web.telegram.org/a/#7550624717"
VITE_RECEIVER_WALLET_ADDRESS="0QDWy5H7sWL1_vG4qQ9oA2Ifemvg4aEWguNW8K6ig20N0Kdb"
